*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}
html,
body,
iframe {
  background-color: white;
  border: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.options {
  background: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.options h1 {
  font-size: 26px;
  color: #03363d;
  font-weight: 600;
  font-family: sharp sans, Arial, sans-serif;
  line-height: calc(1em + 8px);
  margin: 0;
  margin-bottom: 50px;
}

.options .main {
  width: 100%;
  max-width: 430px;
  margin: 50px auto;
  background: white;
  box-shadow: 0 4px 12px rgba(102, 102, 102, 0.15);
  border-radius: 5px;
  padding: 50px;
  position: relative;
}
.options .logo {
  left: 0;
  top: -50px;
  position: absolute;
  width: 120px;
}
.options .main .title {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.options .main .label-url{
  font-size: 12px;
}
.options .main div label,
.options .main .url {
  display: block;
  font-size: 20px;
}
.options .main .group-input {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.options .main .group-input input {
  width: 100%;
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 0;
  margin: 8px 0;
  padding: 16px 100px 16px 16px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.options .main .group-input input:focus {
  border: 1px solid rgba(92, 97, 196);
  box-shadow: 0 0 0 5px rgba(92, 97, 196, 0.3);
}

.options .main .group-input span {
  position: absolute;
  right: 8px;
  font-size: 14px;
  color: #aaa;
}
.options .main div .button {
  padding: 15px;
  background-color: #30aabc;
  border: 2px solid #30aabc;
  color: white;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8px;
}
.options .main div .button:hover {
  background-color: #1c8a93;
  border: 2px solid #1c8a93;
}
.options .main div .button:active {
  background: #00454f;
  outline: none;
  border: 2px solid #00454f;
}
.clear {
  text-align: center;
}

.config {
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}
